= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .cf
    = render :partial => 'ingredients/item', :locals => { :label => f.label(:title), :text => f.text_field(:title) }
  .cf
    = render :partial => 'ingredients/item', :locals => { :label => f.label(:instructions), :text => f.text_area(:instructions) }

  %h2 Ingredients
  = f.fields_for(:ingredients) do |iform|
    .cf
      = render :partial => 'ingredients/item', :locals => { :label => iform.label(:quantity), :text => iform.text_field(:quantity) }
    .cf
      = render :partial => 'ingredients/item', :locals => { :label => iform.label(:unit), :text => iform.text_field(:unit) }
    .cf
      = render :partial => 'ingredients/item', :locals => { :label => iform.label(:itype), :text => iform.text_field(:itype) }
  .actions
    = f.submit 'Save'
