= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :instructions
    = f.text_area :instructions
    %h2 Ingredients
    = f.fields_for(:ingredients) do |ingredients_form|
      .field
        = ingredients_form.label :quantity
        = ingredients_form.text_field :quantity
      .field
        = ingredients_form.label :unit
        = ingredients_form.text_field :unit
      .field
        = ingredients_form.label :itype
        = ingredients_form.text_field :itype
  .actions
    = f.submit 'Save'
