%h1 Listing recipes

%table
  %tr
    %th Title
    %th Instructions
    %th
    %th
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.title
      %td= recipe.instructions
      %td= link_to 'Show', recipe
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Recipe', new_recipe_path
