%footer
  .row
    #footer.twelve.columns
      %p.align-right.footer-text
        = link_to "Contact", '/contact'
        \ 
        \#{link_to "Privacy", '/privacy'} 
        \#{link_to "Terms", '/terms'} 
        \#{link_to "Team", '/team'} 
        \#{link_to "About", '/about'} 
        \#{link_to "FAQ", '/faq'} 
