%nav#topbar-asset.container
  .row
    .twelve.columns
      %nav#user_nav.align-right
        - if user_signed_in?
          \#{link_to "Settings", edit_user_registration_path} |
          \#{link_to "Sign out", destroy_user_session_path, :method => :delete }
        - else
          = link_to "Home", root_path
          |
          \#{link_to "About", '/about'} |
          |
          \#{link_to "Recipes", recipes_path} |
          - count = Recipe.count
          |
          \#{link_to "Sign up", new_user_registration_path} |
          |
          \#{link_to "Sign in", new_user_session_path}