!!!
%html
  %head
    %title Open Recipe
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    %meta{:content => "CfzHCYvtchIIvKDPJBf5d5jSI4ydwHIQUbn1kx8S1iM", :name => "google-site-verification"}/
    %meta{:charset => "utf-8"}
    %script{:src => "http://use.typekit.com/vgg5gun.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tag
  %body{ hash1, template_id, template_class }
    = render 'layouts/nav'
    = render 'layouts/header'
    .container
      .row
        .twelve.columns.centered
          = yield
    = render 'layouts/footer'
    = render 'layouts/analytics'
